/* poppins-light  */

@font-face {
    font-family: poppins-light;
    src: url('/fonts/Poppins-Light.ttf');
}

/* poppins-medium  */

@font-face {
    font-family: poppins-medium;
    src: url('/fonts/Poppins-Medium.ttf');
}

/* poppins-semi-bold */

@font-face {
    font-family: poppins-semi-bold;
    src: url('/fonts/Poppins-SemiBold.ttf');
}

/* poppins-extra-bold */

@font-face {
    font-family: poppins-extra-bold;
    src: url('/fonts/Poppins-ExtraBold.ttf');
}